# Entorno virtual de Python
.venv/
.idea/
__pycache__/
*.pyc
.ipynb_checkpoints/

*.iml
# Archivos que se generan al compilar la documentación
docs/*.aux
docs/*.log
docs/*.bbl
docs/*.bcf
docs/*.blg
docs/*.run.xml
docs/*.toc
docs/*.out
docs/*.fls
docs/*.fdb_latexmk
docs/*.synctex.gz
data/solicitudes_reserva.csvdata/pandas/T3_join.csv
data/spark/T3_join/
